/*.sublime-workspace

/source/rust/**/target
/source/rust/**/Cargo.lock
!/source/rust/client/Cargo.lock
!/source/rust/client_ng/Cargo.lock
!/source/rust/http/Cargo.lock
!/source/rust/game_service/Cargo.lock
!/source/rust/game_service_ng/Cargo.lock
!/source/rust/test_suite/Cargo.lock
!/source/rust/test_suite_ng/Cargo.lock

/output
