[submodule "vendor/rust"]
	path = vendor/rust
	url = https://github.com/mozilla/rust.git
[submodule "vendor/glfw-rs"]
	path = vendor/glfw-rs
	url = https://github.com/hannobraun/glfw-rs.git
[submodule "vendor/rust-freetype"]
	path = vendor/rust-freetype
	url = https://github.com/hannobraun/rust-freetype.git
[submodule "vendor/rust-stb-image"]
	path = vendor/rust-stb-image
	url = https://github.com/hannobraun/rust-stb-image.git
[submodule "vendor/gl-rs"]
	path = vendor/gl-rs
	url = https://github.com/hannobraun/gl-rs.git
[submodule "vendor/zwobot"]
	path = vendor/zwobot
	url = https://github.com/hannobraun/zwobot.git
[submodule "vendor/cargo"]
	path = vendor/cargo
	url = https://github.com/rust-lang/cargo.git
[submodule "vendor/rust-env"]
	path = vendor/rust-env
	url = https://github.com/hannobraun/rust-env.git
