doctype html
html(lang='en')
	head
		title Von Neumann Defense Force
		meta(charset='utf-8')
		link(href="main.css" rel="stylesheet" type="text/css" media="all")
	body
		main
			include ../contents/newsletter.html
