body {
	font-family: Helvetica;

	background-color: #eaeafa;
	color           : #222222;
}

main {
	max-width: 34em;
	margin   : 0 auto;
}

form.newsletter {
	padding: 0.5em 1.5em;
}

form.newsletter input[type=text] {
	background-color: #f9f9f9;

	font-size: 105%;
	min-width: 19em;

	border : 1px solid #999999;
	padding: 0.3em;
}

form.newsletter input[type=submit] {
	background-color: #333;
	color           : #f9f9f9;

	padding: 0.4em 1.8em;

	font-weight: bold;
	cursor     : pointer;

	border       : 0;
	border-radius: 4px;
}

form.newsletter input[type=submit]:hover {
	opacity: 0.7;
}
