form.newsletter {
	background-color:#ffffff;
	font-size:12px;
	color:#000000;
	margin:0 auto 10px auto;
	text-align:left;
	border-radius:4px;
	font-size: 14px;
	font-family: Arial;
	line-height:150%;
	font-family:Helvetica;
	font-size:12px;
	color:#333333;
	padding:20px;
	background-color:#ffffff;
	border-radius: 6px 6px 6px 6px;
}

form.newsletter label {
	float:none;
	clear:both;
	display:block;
	width:auto;
	margin-top:8px;
	text-align:left;
	font-weight:bold;
	position:relative;
	line-height:150%;
	font-size:14px;
}

form.newsletter input {
	background: none repeat scroll 0 0 #eeeeee;
	border: 1px solid #aaa;
	padding: 5px;
	font-family: Helvetica;
	font-size: 16px;
	width:100%;
}

.cr_button{
	display:inline-block;
	font-family:'Helvetica', Arial, sans-serif;
	width:auto;
	white-space:nowrap;
	height:32px;
	margin:5px 5px 0 0;
	padding:0 22px;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	font-style:normal;
	font-size:15px;
	line-height:32px;
	cursor:pointer;
	border:0;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	vertical-align:top;
	background-color:#333;
	color:#ffffff;
}

.cr_button:hover,.cr_button-small:hover{
	opacity:0.7;
	filter:alpha(opacity=70);
}

.submit_container{
	text-align:center
}
