body {
	font-family: Helvetica;

	background-color: #eaeafa;
	color           : #222222;
}

a {
	text-decoration: none;
	font-weight    : bold;

	color: #0000ee;
}

a:hover {
	text-decoration: underline;
}

main {
	max-width: 34em;
	margin   : 0 auto;
}

a.download {
	margin: 0.5em 1.5em;

	text-decoration: none;
}

form.newsletter {
	padding: 0.5em 1.5em;
}

form.newsletter input[type=text] {
	background-color: #f9f9f9;

	font-size: 105%;
	min-width: 19em;

	border : 1px solid #999999;
	padding: 0.3em;
}

a.download,
form.newsletter input[type=submit] {
	background-color: #333333;
	color           : #f9f9f9;

	padding: 0.4em 1.8em;

	font-weight: bold;
	cursor     : pointer;

	border       : 0;
	border-radius: 4px;
}

a.download:hover,
form.newsletter input[type=submit]:hover {
	opacity: 0.85;
}

div.signature {
	margin-top   : 2em;
	margin-bottom: 2em;
}

div.signature p {
	margin-top   : 0em;
	margin-bottom: 0em;
}

p.ps {
	background-color: #ffff00;
}

table.contact * {
	text-align    : left;
	vertical-align: text-top;
}

table.contact th {
	padding: 1em;
}

table.contact p {
	margin: 0;
}

body > footer {
	max-width: 34em;
	margin   : 0 auto;

	margin-top: 2em;

	text-align: center;
	font-size : 75%;
}
