body {
	font-family: Helvetica;

	background-color: #eaeafa;
	color           : #222222;
}

a {
	text-decoration: none;
	font-weight    : bold;

	color: #0000ee;
}

a:hover {
	text-decoration: underline;
}

a:hover img {
	opacity: 0.92;
}

main {
	display  : block;
	max-width: 34em;
	margin   : 0 auto;
}

a.download {
	margin: 0.5em 1.5em;

	text-decoration: none;
}

form.newsletter {
	padding: 0.5em 1.5em;
}

form.newsletter input[type=text] {
	background-color: #f9f9f9;

	font-size: 105%;
	min-width: 19em;

	border : 1px solid #999999;
	padding: 0.3em;
}

a.download,
form.newsletter input[type=submit] {
	background-color: #333333;
	color           : #f9f9f9;

	padding: 0.4em 1.8em;

	font-weight: bold;
	cursor     : pointer;

	border       : 0;
	border-radius: 4px;
}

a.download:hover,
form.newsletter input[type=submit]:hover {
	opacity: 0.85;
}

div.signature {
	margin-top   : 2em;
	margin-bottom: 2em;
}

div.signature p {
	margin-top   : 0em;
	margin-bottom: 0em;
}

a.image {
	display: inline-block;
	width  : 100%;
}

a.image img {
	max-width: 100%;
	display  : block;

	margin-left : auto;
	margin-right: auto;
}

a.image p {
	font-size : 70%;
	text-align: center;
	margin-top: 0em;
}

main.news ul {
	list-style-type: none;

	padding: 0em;
}

main.news li {
	margin-bottom: 3.5em;
}

main.news li a p.date,
main.news li a h1,
main.news li a h2 {
	color      : #222222;
}

main.news li a p.date {
	font-weight: bold;
	font-size  : 90%;
	margin     : 0em;
}

main.news li a h1 {
	margin-top   : 0em;
	margin-bottom: 0.25em;
}
main.news li a h2 {
	margin: 0em;
}

main.news li a h2 {
	font-size : 120%;
	text-align: center;
}

main.news li a img {
	margin   : 0 auto;
	max-width: 100%;
}

main.newsletter > header h1 {
	margin-bottom: 0em;
}

main.newsletter > header h2 {
	margin-top: 0em;
}

table.contact * {
	vertical-align: text-top;
}

table.contact th {
	padding   : 1em;
	text-align: right;
}

table.contact p {
	margin: 0;
}

article > header,
article > footer {
	font-size : 85%;
	font-style: italic;
}

article > footer {
	margin-top: 4em;
}

body > footer {
	max-width: 34em;
	margin   : 0 auto;

	margin-top: 2em;

	text-align: center;
	font-size : 75%;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline;
	margin : 0.4em;
}

nav a.current {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style   : solid;
	border-top-width   : 1px;
}
